@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light_0.eot');
    src: local('?'), url('../fonts/ProximaNova-Light_0.woff') format('woff'), url('../fonts/ProximaNova-Light_0.ttf') format('truetype'), url('../fonts/ProximaNova-Light_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular_0.eot');
    src: local('?'), url('../fonts/ProximaNova-Regular_0.woff') format('woff'), url('../fonts/ProximaNova-Regular_0.ttf') format('truetype'), url('../fonts/ProximaNova-Regular_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold_0.eot');
    src: local('?'), url('../fonts/ProximaNova-Bold_0.woff') format('woff'), url('../fonts/ProximaNova-Bold_0.ttf') format('truetype'), url('../fonts/ProximaNova-Bold_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold_0.eot');
    src: local('?'), url('../fonts/ProximaNova-Semibold_0.woff') format('woff'), url('../fonts/ProximaNova-Semibold_0.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black_0.eot');
    src: local('?'), url('../fonts/ProximaNova-Black_0.woff') format('woff'), url('../fonts/ProximaNova-Black_0.ttf') format('truetype'), url('../fonts/ProximaNova-Black_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{ text-decoration:none; padding:0px; margin:0px; /*line-height:normal;*/ outline:none; box-shadow:none; list-style:none;}
body { background: #f6f6f6; font-family: 'ProximaNova-Regular', sans-serif; font-weight: 400; color: #888; line-height: 18px; font-size: 13px; }

body::-webkit-scrollbar {
    width: 10px;
    background-color: #fff!important;
}
body::-webkit-scrollbar-track {
    background-color: #fff!important;
}
body::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}
#responsiveMenu{
    display: none;
}
#responsiveMenu i{
    font-size: 26px;
    color: #fff;
    padding: 0px 30px;
}
#responsiveMenu #menuClose{
    font-size: 20px;
    color: #fff;
    width: 100%;
    display: none;
}
#responsiveMenu #menuClose:active,#responsiveMenu #menuClose:focus,#responsiveMenu #menuClose:hover,.leftMenu a:hover,.leftMenu a:focus,.leftMenu a:active{
    text-decoration: none;
}
#leftSide{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f6f6f6;
    width: 250px;
    overflow-y: auto;
    height: auto;
    border-right: 1px solid #ccc;
}
#leftSide::-webkit-scrollbar{
    width: 5px; background: transparent;
}
#leftSide::-webkit-scrollbar-thumb{
    background: #8a9a9e  ; border-radius:5px;
}
#leftSide img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fefefe;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}
.profileDetailsResponsive{
    display: none;
}
.profileDetails {
    padding: 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #264e57;
}
.profileDetails h1{
    color: #ffffff;
    font-family: 'ProximaNova-Regular', sans-serif;
}
.profileDetails h4{
    font-family: 'ProximaNova-Light', sans-serif;
    color: #00e1ff;
}
.profile{
    float: right;
    margin: 10px 15px;
}
.leftMenu{
    margin: 0px auto;
}
.leftMenu a{
    font-family: 'ProximaNova-Regular', sans-serif;
    color: #000;
    font-size: 16px;
    display: inline-block;
    padding: 0px 30px;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
ul.leftMenu li i{
    font-size: 16px;
    color: #000;
    width: 20px;
    padding-right: 30px;
}
ul.leftMenu li:hover{
    background-color: #d7f5f9;
    border-bottom: 2px solid #264e57;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
ul.leftMenu li {
    border-bottom: 2px solid #efefef;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.rightSide{
    position: relative;
    margin-left: 250px;
    padding: 25px;
    padding-bottom: 0px;
}
.rightSide h3{
    margin: 0;
    font-family: 'ProximaNova-Regular', sans-serif;
    color: #fff;
    background-color: #264e57;
    padding: 15px 25px;
}
.rightSide p{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'ProximaNova-Regular', sans-serif;
    color: #666;
    padding: 25px;
}
.education{
    font-weight: bold;
    padding: 25px;
    color: #333;
}
.course{
    padding: 0px 25px !important;
}
.course i{
    padding-right: 20px;
}
#skills ul,#contact ul,#experience .media{
    padding: 25px;
}
#skills ul li{
    display: inline-block;
    background-color: #49ff00;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 900;
    font-family: 'ProximaNova-Regular', sans-serif;
    margin: 5px auto;
    margin-right: 15px;
    -webkit-box-shadow: 5px 3px 5px 1px #ccc;
    -moz-box-shadow: 5px 3px 5px 1px #ccc;
    box-shadow: 5px 3px 5px 1px #ccc;
}
.box{
    -webkit-box-shadow: 0px 1px 10px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 10px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 10px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-bottom: 25px;
    background-color: #fff;
}
.bottom-gap{
    padding-bottom: 25px;
}
#contact ul h4{
    font-family: 'ProximaNova-Regular', sans-serif;
    color: #666666;
}
#contact ul h4 i{
    font-size: 22px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}
#contact ul h4:nth-child(1) i{
    color: #000;
}
#contact ul h4:nth-child(2) i{
    color: #337fb2;
    font-size: 16px;
}
#contact ul h4:nth-child(3) i{
    color: #00aff0;
}
#contact ul:nth-child(3){
    text-align: center;
}
#contact ul:nth-child(3) li a{
    font-size: 26px;
    padding: 5px;
}
#contact ul:nth-child(3) li a:first-child,#contact ul:nth-child(3) li a:first-child:hover,#contact ul:nth-child(3) li a:first-child:focus{
    color: #0077B5;
}
#contact ul:nth-child(3) li a:nth-child(2),#contact ul:nth-child(3) li a:nth-child(2):hover,#contact ul:nth-child(3) li a:nth-child(2):focus{
    color: #000;
}
#contact ul:nth-child(3) li a:nth-child(3),#contact ul:nth-child(3) li a:nth-child(3):hover,#contact ul:nth-child(3) li a:nth-child(3):focus{
    color: #365899;
}
#experience div img{
    width: 50px;
    height: auto;
}
#experience div span{
    display: block;
    font-size: 16px;
    color: #666;
    line-height: 1.4;
}
#portfolio h4{
    text-align: center;
    color: #666;
    font-family: 'ProximaNova-SemiBold', sans-serif;
    margin: 0px !important;
}
#portfolio ul{
    padding: 25px;
    text-align: center;
}
#portfolio ul li{
    display: inline-block;
    width: 33%;
    line-height: 80px;
    margin: 30px auto;
}
#portfolio ul li h1{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #008489;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 700;
}
#portfolio ul li img{
    width: 140px;
    height: auto;
}
#top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 30px;
    color: #264e57;
}
.horizontal-row{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#portfolio .design .image-column img{
    box-shadow: 0px 2px 20px #aaa;
    margin: 25px auto;
    vertical-align: middle;
    border: 1px solid #ccc;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
}
#portfolio .design .image-column img:hover{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}
.image-row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.image-column{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 35%;
    padding: 0 30px;
}
.image-column:first-child{
    padding-left: 50px;
}
.image-column:last-child{
    padding-right: 50px;
}
div#right-menu{
    display: none;
}
/* Lightbox Open */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 5%;
    transform: scale(1.2);
}
.lightbox:target {
    outline: none;
    display: block;
}
/* Lightbox Close */

#footer{
    color: #666;
    text-align: center;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
@media only screen and (min-width: 1600px) {
}
@media only screen and (min-width: 1900px) {
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
    .image-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .image-column:last-child {
        padding-left: 50px;
    }
    .education{
        line-height: 26px;
        margin: 0px;
    }
    #portfolio ul li{
        width: 49%;
    }
}

@media only screen and (max-width: 767px) {
    #responsiveMenu{
        display: block;
        background-color: #264e57;
        height: 48px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    #responsiveMenu i{
        font-size: 26px;
        color: #fff;
        padding: 11px 25px;
        float: right;
    }
    div#right-menu{
        right: -110%;
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0;
        background: #fff;
        width: calc( 100% - 40px );
        overflow-y: auto;
        height: auto;
        border-left: 1px solid #ccc;
        display: block;
        box-shadow: 25px 0px 100px 15px #000;
    }
    div#right-menu::-webkit-scrollbar{
        width: 5px; background: transparent;
    }
    div#right-menu::-webkit-scrollbar-thumb{
        background: #8a9a9e  ; border-radius:5px;
    }
    div#right-menu .introduction{
        padding: 25px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        background-color: #264e57;
        display: block;
    }
    div#right-menu .introduction img{
        border-radius: 50%;
        width: 100px;
        height: auto;
        border: 3px solid #fefefe;
    }
    div#right-menu h1{
        color: #ffffff;
        font-size: 30px;
    }
    div#right-menu h4{
        color: #00e1ff;
        font-size: 18px;
    }
    ul.menu-links li{
        border-bottom: 2px solid #efefef;
        height: 50px;
        line-height: 30px;
    }
    ul.menu-links li a{
        font-family: 'ProximaNova-Regular', sans-serif;
        color: #000;
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 10px 30px;
    }
    ul.menu-links li a:hover, ul.menu-links li a:active, ul.menu-links li a:focus{
        text-decoration: none;
    }
    ul.menu-links li a i{
        font-size: 16px;
        color: #000;
        width: 20px;
        padding-right: 30px;
    }
    ul.menu-links div#footer{
        padding: 10px 30px;
    }
    .rightSide p{
        font-size: 18px;
        line-height: 30px;
        padding: 15px !important;
        margin: 0px !important;
    }
    .course i {
        padding-right: 10px;
    }
    #experience div span{
        font-size: 18px;
    }
    .education{
        line-height: 28px;
        padding: 15px;
    }
    #skills ul li{
        font-size: 18px;
    }
    #leftSide{
        display: none;
    }
    .rightSide{
        margin: 0px;
        padding: 68px 20px 0px 20px;
    }
    .rightSide h3{
        padding: 15px;
    }
    .image-column{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    #contact ul:nth-child(3) li a{
        font-size: 32px;
    }
    #contact ul h4 i{
        font-size: 26px;
        width: 30px;
    }
    #portfolio ul li{
        width: 49%;
    }
    #portfolio ul li img{
        width: 100px;
    }
    #portfolio ul li h1{
        font-size: 20px;
    }
    .lightbox img{
        margin-top: 18%;
    }
    #skills ul, #contact ul, #experience .media{
        padding: 15px;
    }
}